body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 4rem
}


button {
  background-color: black;
  color: white;
  border: none;
  padding: 0px;
  margin: 0rem;
  cursor: pointer;

}

.rock-img,
.paper-img,
.scissors-img {
  /* background-color: black; */
  border: solid white 3px;
  height: 2rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 50%;

}

.rock-img {
  padding-top: 16px;
  padding-bottom: 26px
}

.paper-img {
  padding: 20px;
  height: 2rem;
}

.scissors-img {
  padding: 20px 16px;
  height: 2rem;
}

.img-1 {
  height: 50px
}

.reset-btn,
.Auto-play-button {
  background-color: white;
  color: black;
  padding: 5px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

@media only screen and (max-width:320px) {
  body {
    padding-top: 1rem
  }

  button {
    background-color: black;
    color: white;
    border: none;
    padding: 0px;
    margin: 0rem;
    cursor: pointer;

  }

  .rock-img,
  .paper-img,
  .scissors-img {
    /* background-color: black; */
    border: solid white 2px;
    height: 2rem;
    padding: 0.4rem;
    margin: 0.3rem;
    border-radius: 50%;

  }

  .rock-img,
  .paper-img,
  .scissors-img {
    padding-top: 0.3rem;
    padding-bottom: 0.5rem;
  }
  .img-1 {
  height: 2rem;
}
}